<?xml version="1.0" encoding="UTF-8"?>
<launch>
        <!-- for only camera eling--> <!-- camera further of the ground -->
        <!--node pkg="tf" type="static_transform_publisher" name="ground_to_camera" args="0.611237 0.433886 0.443974 0.19136092  0.88362043 -0.40819979 -0.12636799 ground_link camera_link 50"/-->

        <!-- for camera closer to the ground -->
  <node pkg="tf" type="static_transform_publisher" name="ground_to_camera" args="0.411237 0.273886 0.273974 0.21597337  0.86929349 -0.43734989 -0.08005882 ground_link camera_link 50"/>

        <!-- for when I have the optical frame -->
        <!--node pkg="tf" type="static_transform_publisher" name="ground_to_camera" args="0.601237 0.433886 0.443974 0 0 0 ground_link camera_link 50"/>

        <node pkg="tf" type="static_transform_publisher" name="camera_to_opt_frame" args="0 0 0 0.19136092  0.88362043 -0.40819979 -0.12636799 camera_link camera_optical_frame 50" /-->
</launch>




