<?xml version="1.0" encoding="UTF-8"?>
<launch>
       	<!-- camera position --> 
	<!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
	<!--node pkg="tf" type="static_transform_publisher" name="ground_to_camera" args="0.611237 0.433886 0.443974 -2.089600 0.697037 -0.070526 ground_link camera_link 50"/-->
	<node pkg="tf" type="static_transform_publisher" name="ground_to_camera" args="0.505713 0.249073 0.265796 -2.270220 0.649014 0.087428 ground_link camera_link 50"/>
	

	<!-- static transfrm to camera optical frame -->
        <node pkg="tf" type="static_transform_publisher" name="camera_to_opt_frame" args="0 0 0 -1.57 0 -1.57 camera_link camera_optical_frame 50" />
        
</launch>




