<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find niryo_one_description)/config/default_config.rviz"     />
	<include file="$(find niryo_one_bringup)/launch/ground_to_camera.launch"/>
  
  <!-- run grasp detection -->
	<include file="$(find niryo_one_bringup)/launch/include/grasp_generation.launch.xml"/>
  
  <!-- run point cloud filtering--> 
	<node name="pointcloud_filtering" pkg="irlab_point_cloud_filtering" type="point_cloud_filtering_server" respawn="false" args="/camera/depth/points" output="screen"/>

	<!-- import octomap sensors -->
	<include ns="move_group"  file="$(find icclab_summit_xl)/launch/include/sensor_manager.launch.xml"/>
</launch>
